.social-media-button{
    border-radius:5px;
    min-width:18vw;
    padding:15px;
    margin-left:10px;
    background-color: white;
    border:3px solid #022a2d;
}
.social-media-button:hover{
    border:5px solid #022a2d;
}

