.custom-file-input {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 10rem;
  background-color: #f2f4f5;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 10pt;
  background-clip: padding-box;
  background-size: cover;
  background-position: center;
  background-position: cover;
  input {
    display: none;
  }
}

.image-added {
  display: none;
}
.image-not-added {
  width: 100%;
  display: flex;
  justify-content: center;
}
