.modal-wrapper {
  background-color: white;
  position: absolute;
  z-index: 10;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}

.modal-close {
  top: -1000px;
  display: none;
}
.modal-open {
  max-width: 80%;
  top: 10vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal-close-button {
  font-weight: bolder;
  font-size: xx-large;
  margin: 10px;
  cursor: pointer;
  width: fit-content;
}
// .modal-categories {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   .category {
//     width: 33%;
//     img {
//       height: 4rem;
//       width: 4rem;
//     }
//   }
// }
