@import url("http://fonts.cdnfonts.com/css/geomanist");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Geomanist", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
